<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Student Exam</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Exam</h1>
                        <form>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        1. Which is the largest planet?
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q1a1" type="radio" name="q1">
                                        <label class="form-check-label" for="q1a1">Earth</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q1a2" type="radio" name="q1">
                                        <label class="form-check-label" for="q1a2">Mercury</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q1a3" type="radio" name="q1">
                                        <label class="form-check-label" for="q1a3">Jupiter</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q1a4" type="radio" name="q1">
                                        <label class="form-check-label" for="q1a4">Saturn</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        2. How many moons does earth have?
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q2a1" type="radio" name="q2">
                                        <label class="form-check-label" for="q2a1">3</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q2a2" type="radio" name="q2">
                                        <label class="form-check-label" for="q2a2">1</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q2a3" type="radio" name="q2">
                                        <label class="form-check-label" for="q2a3">0</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q2a4" type="radio" name="q2">
                                        <label class="form-check-label" for="q2a4">2</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        3. Which is the closest planet to the sun?
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q3a1" type="radio" name="q3">
                                        <label class="form-check-label" for="q3a1">Earth</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q3a2" type="radio" name="q3">
                                        <label class="form-check-label" for="q3a2">Mercury</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q3a3" type="radio" name="q3">
                                        <label class="form-check-label" for="q3a3">Jupiter</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-solid">
                                        <input class="form-check-input" id="q3a4" type="radio" name="q3">
                                        <label class="form-check-label" for="q3a4">Saturn</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <div class="d-grid"><a class="btn btn-primary btn-block" href="login.html">Submit</a></div>
                            </div>
                        </form>
                    </div>
                </main>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
